ROOM_ESCAPE/room_escape/Content/StarterContent/Textures
ROOM_ESCAPE/room_escape/Content/StarterContent/HDRI
ROOM_ESCAPE/room_escape/Intermediate/
ROOM_ESCAPE/room_escape/Binaries/
*.db
*.opendb
ROOM_ESCAPE/room_escape/Saved/
*.sln
*.ipch
*.db-shm
*.db-wal
room_escape/Intermediate/
room_escape/Saved/
room_escape/Content/StarterContent/
room_escape/Binaries/
